<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Harrar Mehdi</title>
    <link rel="stylesheet" href="/css/styles_acceuil.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/acceuil">Accueil</a></li>
                <li><a href="/propos">À Propos</a></li>
                <li><a href="/competence">Compétences</a></li>
                <li><a href="/projets">Projets</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div class="hero-section">
            <h1>Salut, je suis Harrar Mehdi</h1>
            <p>Développeur Spring Boot & WordPress Junior</p>
            <a href="#contact" class="btn">Me Contacter</a>
        </div>
    </header>

    <section id="about">
        <h2>À Propos de Moi</h2>
        <p>Je suis un développeur junior spécialisé dans Spring Boot et WordPress, passionné par la création d'applications web modernes et performantes.</p>
    </section>

    <section id="skills">
        <h2>Mes Compétences</h2>
        <div class="skills-list">
            <div class="skill">
                <h3>Spring Boot</h3>
                <p>Développement d'applications back-end en Java avec Spring Boot.</p>
            </div>
            <div class="skill">
                <h3>WordPress</h3>
                <p>Création de sites web dynamiques et personnalisés avec WordPress.</p>
            </div>
            <div class="skill">
                <h3>HTML & CSS</h3>
                <p>Conception et développement d'interfaces utilisateurs responsives.</p>
            </div>
        </div>
    </section>

    <section id="projects">
        <h2>Mes Projets</h2>
        <div class="projects-list">
            <div class="project">
                <h3>Applications Spring Boot</h3>
                <p>Un projet de portfolio développé en Spring Boot pour présenter mon travail.</p>
				<p>Création de la plus grande plateforme de recrutement des infirmiers au Maroc.</p>
            </div>
            <div class="project">
                <h3>Site WordPress</h3>
                <p>Création de 3 sites WordPress pour des clients.</p>
				<p>Voici le lien d'un site web que j'ai fait : <a href="https://quotexperience.com/" target="_blank">Visitez le site</a></p>
            </div>
        </div>
    </section>

    <footer id="contact">
        <h2>Contactez-moi</h2>
        <p>Email : mehdi0harrar@gmail.com</p>
        <p>Téléphone : +212 603 96 85 55</p>
        <p>LinkedIn : <a href="https://www.linkedin.com/in/mehdi-harrar-243036229/" target="_blank">linkedin.com/in/harrar-mehdi</a></p>
    </footer>
</body>
</html>
