<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Harrar Mehdi</title>
    <link rel="stylesheet" href="/css/styles_contact.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/acceuil">Accueil</a></li>
                <li><a href="/propos">À Propos</a></li>
                <li><a href="/competence">Compétences</a></li>
                <li><a href="/projets">Projets</a></li>
                <li><a href="/contact" class="active">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section id="contact">
        <div class="contact-container">
            <div class="contact-info">
                <h1>Contactez-moi</h1>
                <p>Pour toute demande ou question, n'hésitez pas à me contacter en utilisant le formulaire ci-dessous ou en me trouvant via les coordonnées suivantes :</p>
                <div class="contact-details">
                    <div class="detail">
                        <h3>Email</h3>
                        <p>mehdi0harrar@gmail.com</p>
                    </div>
                    <div class="detail">
                        <h3>Téléphone</h3>
                        <p>+212 603 96 85 55</p>
                    </div>
                    <div class="detail">
                        <h3>LinkedIn</h3>
                        <p><a href="https://www.linkedin.com/in/mehdi-harrar-243036229/" target="_blank">linkedin.com/in/harrar-mehdi</a></p>
                    </div>
                </div>
            </div>

            <div class="contact-form">
                <h2>Envoyez-moi un Message</h2>
                <form action="#" method="post">
                    <label for="name">Nom</label>
                    <input type="text" id="name" name="name" required>

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>

                    <label for="message">Message</label>
                    <textarea id="message" name="message" rows="6" required></textarea>

                    <button type="submit">Envoyer</button>
                </form>
            </div>
        </div>

        <div class="map-container">
            <h2>Où me Trouver</h2>
            <!-- Ajoutez ici le code d'intégration de Google Maps ou une autre carte interactive -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3308.0571021834894!2d-6.7376748251884!3d33.9910670209597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda74016262a22eb%3A0x5c53e9f9d3214abb!2z2LXZitiv2YTZitipINqt2YrYs9mK!5e0!3m2!1sen!2sfr!4v1726014483255!5m2!1sen!2sfr" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Harrar Mehdi. Tous droits réservés.</p>
    </footer>
</body>
</html>
