<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À Propos - Harrar Mehdi</title>
    <link rel="stylesheet" href="/css/styles_propos.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/accueil">Accueil</a></li>
                <li><a href="/propos">À Propos</a></li>
                <li><a href="/competence">Compétences</a></li>
                <li><a href="/projets">Projets</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section id="about">
        <div class="container">
            <h1>À Propos de Moi</h1>
            <div class="about-content">
                <img src="/image/photo_profil.jpeg" alt="Harrar Mehdi" class="profile-photo">
                <div class="about-text">
                    <h2>Harrar Mehdi</h2>
                    <p>Développeur junior spécialisé en Spring Boot et WordPress, je suis passionné par la création de solutions web innovantes. J'aime explorer les nouvelles technologies, apprendre en continu, et contribuer à des projets dynamiques.</p>
                    <p>Mon expertise couvre le développement d'applications back-end performantes avec Spring Boot ainsi que la création de sites web attrayants et fonctionnels avec WordPress. Que ce soit pour des entreprises locales ou des projets personnels, j'aspire à apporter des solutions qui répondent aux besoins des utilisateurs tout en adoptant une approche moderne et flexible.</p>
                    <a href="/contact" class="btn">Me Contacter</a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>© 2024 Harrar Mehdi. Tous droits réservés.</p>
    </footer>
</body>
</html>
